.chat__content {
    .chat__messages {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        height: calc(50vh - 192px);
        overflow: auto;
        padding: 20px;
    }
}
