@import '../../../assets/style/variables.scss';

.chat__content-admin {
    .title {
        margin-bottom: 20px;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: bold;
        color: $gray-03;
    }
    .chat__accepted-message {
        background-color: $gray-01;
        height: 20vh;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .message {
            margin-bottom: 15px;
            max-width: 100%;
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
            font-size: 14px;
            font-weight: 300;
            padding: 15px;
            position: relative;
            word-break: break-word;
            letter-spacing: 1px;
            flex: auto;
            &::after {
                content: '';
                position: absolute;
                border-top: 10px solid white;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                left: -10px;
                top: 0;
            }
        }
        .actions {
            display: flex;
            justify-content: space-between;
            .refused {
                margin-right: 15px;
                background-color: $pink-03;
            }
            .accepted {
                background-color: $green-02;
            }
            .info-message {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left: 5px;
                .sender,
                .date {
                    text-transform: capitalize;
                    margin-bottom: 5px;
                    font-size: 12px;
                    letter-spacing: 1px;
                    color: $gray-03;
                }
                .date {
                    color: $gray-02;
                    font-size: 11px;
                }
            }
        }
    }
    .chat__messages {
        padding: 20px;
        background-color: $gray-01;
        box-sizing: content-box;
        height: calc(80vh - 30vh);
        .list {
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            overflow: auto;
        }
    }
    .player {
        width: 350px;
        height: 200px;
        background: #000000e0;
        box-shadow: 0px 0px 12px 2px #37e69138;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 15px;
        right: 15px;
        opacity: 0.4;
        transition: all 0.3s ease-in-out;
        &:hover {
            opacity: 1;
        }
        .info {
            color: #fff;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 10px;
            text-transform: uppercase;
        }
    }
}
