@import '../../../assets/style/variables.scss';

.status__content-admin {
    .status-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            font-size: 15px;
            letter-spacing: 1px;
            font-weight: bold;
            color: $gray-03;
        }
        .actions {
            display: flex;
            align-items: center;
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
                background-color: transparent;
                border: 1px solid $gray-02;
                border-radius: 4px;
                padding: 5px 10px;
                cursor: pointer;
                letter-spacing: 1px;
                font-weight: bold;
                color: $gray-03;
                transition: all 0.3s ease-in-out 0s;
                span {
                    color: #6a9ada;
                }
                &:hover {
                    background-color: $gray-01;
                    border: 1px solid $gray-01;
                }
            }
            p {
                font-size: 13px;
                letter-spacing: 1px;
                strong {
                    color: $gray-02;
                }
                color: $green-02;
            }
        }
    }
    .status__users {
        background-color: $gray-01;
        border-radius: 4px;
        padding: 20px;
        margin-top: 30px;
        box-sizing: content-box;
        height: calc(100vh - 30vh);
        .list {
            display: flex;
            .user {
                margin: 5px;
                font-size: 13px;
                letter-spacing: 1px;
                color: #9398a6;
                background-color: #970cce;
                height: 25px;
                color: #fff;
                border-radius: 12.5px;
                display: flex;
                align-items: center;
                padding: 0px 12px;
            }
        }
    }
}
