.home-holder {
    width: 100%;
    height: 100%;
    padding-left: 289px;
    transition: 0.3s ease-in-out all;
    @media (max-width: 915px) {
        padding-left: 54px;
    }
    .header {
        padding: 20px 30px;
        background-color: #e8e8e8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .welcome-header {
            color: #9b9b9e;
            letter-spacing: 1px;
            span {
                font-weight: bold;
            }
        }
        .info-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .user-header {
                width: 40px;
                height: 40px;
                margin-right: 10px;
                border-radius: 50rem;
                overflow: hidden;
                transition: all 0.2s ease-in-out 0s;
                animation-fill-mode: both;
                border: 2px solid rgba(75, 75, 75, 0.06);
                img {
                    width: 102%;
                    height: auto;
                    object-fit: contain;
                }
            }
            span:first-child {
                color: #525252;
            }
        }
    }
    .content {
        padding: 30px;
    }
}

.home-holder.close,
.home-holder.startMobile {
    padding-left: 54px;
}
