@import '../../../assets/style/variables.scss';

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 305px);
    width: 100%;
    svg {
        margin-bottom: 15px;
        path {
            fill: rgba(5, 196, 192, 0.34);
        }
    }
    h3 {
        color: rgba(5, 196, 192, 0.34);
        font-size: 23px;
        letter-spacing: 1px;
    }
}
